
body{
    background-image: url("../images/what-the-hex-dark.png");
}



footer {
    background-image: url("../images/what-the-hex-dark.png");
    background-size: 400px 400px;
    background-position: -50px -50px;
}


.charts {
    padding: 30px;
    width: 700px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 60px auto 0;
}



