
*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
position: relative;
margin: 0;
padding: 0;
font-family: "Open Sans";
background-image: url("../images/dark_mosaic.png");



}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff99134d;
  box-shadow: 10px 0 15px 8px #ab794e2e;
}

@media (max-width: 767px) {
  footer{
    flex-direction: row-reverse;
    box-shadow: 8px 0 12px 5px #ab794e30;
  }
}

footer .logo-side{
  
}

footer .logo-side span{
  color: rgb(0, 0, 0);
}


@media (min-width: 768px) {
  footer .logo-side .logo{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    background-image: linear-gradient(135deg, #ffc47c, #ff9b2093, #4d3a0638);
  }


  footer .links-side .links{
    height: 100%;
    padding-right: 50px;
  }
  footer .links-side .links-side-content .close{
    display: none;
  }

  footer .links-side .links ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
  }

    
  footer .links-side .links ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.2s;
  }

  footer .links-side .links ul li a:hover{
    background-color: #93816d3a;
  }

  footer .links-side .links ul a svg {
    display: none;
  }

  footer .links-side .bars{
    display: none;
  }
}

@media (max-width: 767px) {
  footer .logo-side span {
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #ffc47c, #ff9b2093, #4d3a0638);
  }

  footer .links-side .links-side-content{
    position: absolute;
    top: 0;
    left: -180px;
    width: 180px;
    height: 100vh;
    background-color: #0b1d59fc;
    padding: 10px 14px;
    transition: 0.3s;
    z-index: 5;
  }
    
  footer .links-side .links-side-content .close{
    text-align: right;
    
  }
    
  footer .links-side .links-side-content .close svg{
    fill: red;
    width: 40px;
    padding: 5px;
  }
    
  footer .links-side .links-side-content .close{
    
  }

  footer .links-side .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .links-side .links ul li {
    
  }

  footer .links-side .links ul li a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  footer .links-side .links ul li a svg{
    fill: white;
    width: 25px;
  }

  footer .links-side .links ul li a span{
    padding-top: 3px;
  }



  footer .links-side .bars{
    margin-right: 5px;
    margin-top: 5px;
  }
  footer .links-side .bars svg{
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}

footer .links-side .links ul li{

}



footer .links-side .links ul li a span{

}













/* 
.sidebar{
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar-content{
  position: relative;
}
.sidebar-content .bars{
  padding: 20px;

}
.sidebar-content .bars svg{
  fill: white;
  width: 30px;
}

.sidebar-content .sidebar-info{
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: #0b1d59;
  top: 0;
  left: 0;
  z-index: 10;
}
.sidebar-content .sidebar-info .links{
  padding: 50px 20px;
}
.sidebar-content .sidebar-info .links ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.sidebar-content .sidebar-info .links ul li{

}
.sidebar-content .sidebar-info .links ul li a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}
.sidebar-content .sidebar-info .links ul li a svg{
  fill: white;
  width: 30px;
}

.sidebar-content .sidebar-info .links ul li a span {

} */



/* 
.ogrenci-sayisi{
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #f99317b6;
  padding: 5px 8px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.ogrenci-sayisi::before{
  content: "";
  box-sizing: content-box;
  padding: 10px;
  position: absolute;
  top: -11px;
  left: -11px;
  width: 100%;
  height: 100%;
  background-color: #67503a37;
  border-radius: 10px;

} */

.search-div{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.search-div form{
  background-color: #67503a37;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}



.search-div .searchBtn{
  background-color: #f99317b6;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-div .searchBtn:hover{
  background-color: #ff8c00;
}

.search-div div svg{
  fill: #ffffffc9;
  width: 20px;
  height: 20px;
}


.search-div form input{
  padding: 10px;
  min-width: 250px;
  border-radius: 3px;
  border: none;
  height: 40px;
}


@media (max-width: 500px)  {
  .search-div {
    gap: 12px;
  }

  .search-div form input{
    min-width: 130px;
    padding: 0 4px 0 6px;
    height: 30px;
    flex-shrink: 1;
  }

  .search-div form{
    padding: 8px;
    gap: 4px;
  }

  .search-div div svg{
    width: 15px;
    height: 15px;
  }

  .search-div .searchBtn{
    width: 30px;
    height: 30px;
  }

  .ogrenci-sayisi{
    padding: 3px 6px 4px;
    margin-left: 0;
    font-size: 11px;
    margin-right: 8px;
  }
  
  .ogrenci-sayisi::before{
    box-sizing: content-box;
    padding: 7px;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
  
  }
}

.svg-turkiye-haritasi {
position: relative;
max-width: 1140px;
margin: 0 auto;
text-align: center;
}
.svg-turkiye-haritasi svg {
width: 100%;
height: auto;
}
.il-isimleri {
position: absolute;
z-index: 10;
}
.il-isimleri div {
font-family: 'Open Sans';
display: inline-block;
background: #E3CCAE;
color: #000;
border: 1px solid #000000;
padding: 8px 16px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#svg-turkiye-haritasi path {
cursor: pointer;
/* fill: #F99417; */
}
#svg-turkiye-haritasi g[data-vakif="var"] path{
  fill: #BF9742;
}
#svg-turkiye-haritasi g[data-vakif="var"] path:hover{
  fill: #E3CCAE;
}
#svg-turkiye-haritasi g[data-vakif="yok"] path{
  fill: #F99417;
}
#svg-turkiye-haritasi g[data-vakif="yok"] path:hover{
  fill: #E3CCAE;
}
/* #svg-turkiye-haritasi path:hover {
fill: #E3CCAE;
} */
#guney-kibris {
pointer-events: none;
}


.container {
padding: 0 15px 25px;
margin-left: auto;
margin-right: auto;
}

/*Mobile*/
@media (max-width: 767px) {
.container {
    padding: 0 20px 25px;
}
}

/*small*/
@media (min-width: 768px) {
.container {
    width: 750px;
}
}

/*medium*/
@media (min-width: 992px) {
.container {
    width: 970px;
}
}

/*large*/
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}


.container .box{
background-color: #151515;
width: 100%;
border-radius: 5px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.container .box .il{
position: relative;
flex-grow: 1;
width: 100%;
background-color: #0b1d59;
color: #e2ddef;
padding: 20px;
border-radius: 10px;
}


@media (max-width: 767px) {
.container .box .il h1{
  font-size: 26px;
}
}

.container .box .il h1{
margin: 0 0 15px;
padding-bottom: 15px;
border-bottom: 2px solid #121212;
}

.container .box .il .person-list{
display: grid;
gap: 10px;
}

@media (min-width: 767px) {
.container .box .il .person-list{
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  
}
}

.container .box .il .person{
display: grid;
grid-template-columns: 1fr 47px;
/* row-gap: 4px; */
column-gap: 8px;
padding: 10px 10px 15px;
font-size: 20px;
border-radius: 6px;
background-color: #e2ddef;
color: #151515;
}


@media (max-width: 767px) {
.container .box .il .person span{
  font-size: 18px;
}
}


.container .box .il .person span:first-child{
grid-column: span 1;
height: fit-content;
text-align: center;
color: #0b1d59;
font-weight: bold;
font-size: 20px;
border: 2px #0b1d59 solid;
padding: 8px 10px;
border-radius: 25px;
margin-bottom: 5px;
}

.container .box .il .person span:nth-child(n+2){
grid-column: span 2;
font-family: "Open Sans";
}

.container .box .il .person span:nth-child(n+2):not(:last-child) {
  border-bottom: 1px solid #4e4a663e;
  padding: 8px 0;
}
.container .box .il .person span:last-child {
  padding-top: 8px;
}

.noteDiv{
position: relative;
grid-column: span 2;
border: 2px #9abdbd6b solid;
background-color: #9abdbd30;
padding: 8px 42px 8px 10px;
border-radius: 5px;
font-size: 16px;
color: #082e3789;
min-height: 48px;
}

.noteDiv::before{
content: "Not";
height: 100%;
position: absolute;
writing-mode: vertical-rl;
text-align: center;
background-color: #9abdbd70;
padding: 0 10px 0;
top: 0;
right: 0;
border-radius: 5px;
font-size: 16px;
color: #516664a9;
}


/* Start Add Button */
.addBtn{
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  border-radius: 4px;
  margin: 20px 0 0 auto;
}

.addBtn, .button__icon, .button__text {
  transition: all 0.3s;
}

.addBtn .button__text {
  transform: translateX(15px);
  color: #e2ddef;
  font-weight: 550;
}

.addBtn .button__icon {
  position: absolute;
  transform: translateX(103px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.addBtn .svg {
  width: 30px;
  stroke: #fff;
}

.addBtn:hover {
  background: #34974d;
}

.addBtn:hover .button__text {
  color: transparent;
}

.addBtn:hover .button__icon {
  width: 97%;
  transform: translateX(0);
}

.addBtn:active .button__icon {
  background-color: #2e8644;
}

.addBtn:active {
  border: 1px solid #2e8644;
}
/* End Add Button */


.ilClose{
  position: absolute; 
  background-color: #151515; 
  top: 20px; 
  right: 20px; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: 1px solid #222; 
  font-size: 25px;
  transition: 0.2s;
  }




.promptBackground {
position: fixed;
width: 100%; 
height: 100vh; 
z-index: 10; 
opacity: 0.9; 
background: rgba(29, 31, 32, 0.904) radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%); 
background-size: 11px 11px;
}


.myPromptMainDiv {
font-size: 17px;
padding: 30px;
position: fixed;
width: 450px;
height: fit-content;
max-height: calc(100vh - 30px);
left: 50%;
transform: translateX(-50%);
background-color: #e2ddef;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
z-index: 1000;
border: 3px solid #121212;
animation: come 0.8s forwards;
}

@keyframes come {
from {
  opacity: 0;
  top: -70px;
}

to {
  opacity: 100%;
  top: 60px;
}
}

@keyframes goAway {
from {
  opacity: 100%;
  top: 60px; 
}

to {
  opacity: 0;
  top: -70px; 
}
}

@media (max-width: 520px) {
.myPromptMainDiv {
  top: 20px;
  width: calc(100% - 20px);
}

@keyframes come {
  from {
    opacity: 0;
    top: -70px;
  }

  to {
    opacity: 100%;
    top: 20px;
  }
}

@keyframes goAway {
  from {
    opacity: 100%;
    top: 20px; 
  }

  to {
    opacity: 0;
    top: -70px; 
  }
}
}

@media (min-width: 768px) {
.myPromptMainDiv {
  top: 30px;
  width: 450px;
}

@keyframes come {
  from {
    opacity: 0;
    top: -70px;
  }

  to {
    opacity: 100%;
    top: 30px;
  }
}

@keyframes goAway {
  from {
    opacity: 100%;
    top: 30px; 
  }

  to {
    opacity: 0;
    top: -70px; 
  }
}
}

@keyframes disappperance {
from{
  opacity: 100%;
}

to{
  opacity: 0;
}
}


.myPromptMainDiv .promptSpan{
margin-bottom: 20px;
}

.form{
width: 100%;
position: relative;
}


.studentForm{
width: 100%; 
position: relative; 
display: flex; 
flex-direction: column;
gap: 12.78px;
z-index: 3;
}

.studentForm .studentInputDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studentForm .studentInput {
padding: 10px; 
border-radius: 6px; 

}
@media (min-width: 481px) {
  .studentForm .studentInputDiv .studentInput {
    width: 65%;
  }
  .studentForm .studentInputDiv label {
    width: 35%;
  }
}
@media (max-width: 480px) {
  .studentForm .studentInputDiv:nth-child(-n+6) .studentInput {
    width: 65%;
  }
  .studentForm .studentInputDiv:nth-child(n+7) .studentInput {
    width: calc(100% - 135px);
  }
  .studentForm .studentInputDiv:nth-child(n+7) label {
    width: 130px;
  }
}

@media (max-width: 360px) {
  .studentForm .studentInputDiv label {
    font-size: 15px;
  }
}

.studentForm .studentInputDiv:nth-child(4) .studentInput,
.studentForm .studentInputDiv:nth-child(7) .studentInput,
.studentForm .studentInputDiv:nth-child(8) .studentInput,
.studentForm .studentInputDiv:nth-child(9) .studentInput {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #777;
  border-bottom: 2px solid #777;
}

.studentSubmit{
align-self: flex-start;
background-color: #1ea500; 
color: #e2ddef; 
padding: 8px 12px; 
border-radius: 6px; 
cursor: pointer; 
border: none; 
font-size: 16px;
transition: 0.2s;
}


.formCancle{
position: absolute; 
bottom: 0; 
right: 0; 
background-color: #334da0; 
color: #e2ddef; 
padding: 4px 12px 8px; 
border-radius: 6px; 
cursor: pointer;
transition: 0.2s;
}

.promptClose{
position: absolute; 
top: 10px; 
right: 10px; 
background-color: #777; 
color: #e2ddef; 
width: 30px;
height: 30px;
padding-bottom: 4px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%; 
cursor: pointer;
font-size: 22px;
transition: 0.2s;

}


.confirmBackground{
position: fixed; 
width: 100%; 
height: 100vh; 
z-index: 10; 
opacity: 0.9; 
background: rgba(29, 31, 32, 0.904) radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%); 
background-size: 11px 11px;
}

.myConfirmMainDiv{
padding: 45px 30px 30px; 
position: fixed; 
width: 450px; 
top: 60px; 
left: 50%; 
transform: translateX(-50%); 
background-color: #e2ddef; 
border-radius: 5px; 
display: flex; 
flex-direction: column; 
justify-content: space-around; 
align-items: center; 
z-index: 1000; 
border: 2px solid #121212;
animation: come 0.5s forwards;
}


@media (max-width: 767px) {
.myConfirmMainDiv{
  width: 350px;
  padding: 40px 30px 30px;
  
}
}

.resultDiv{
width: 100%; 
display: flex; 
justify-content: space-around; 
margin-top: 15px;
}

.resultYes{
background-color: #ff4a4a; 
color: #e2ddef; 
padding: 8px 12px; 
border-radius: 6px; 
cursor: pointer;
transition: 0.2s;
}

.resultNo{
background-color: #334da0; 
color: #e2ddef; 
padding: 8px 12px; 
border-radius: 6px; 
cursor: pointer;
transition: 0.2s;
}

.erorSpan{
box-sizing: content-box;
margin-top: 10px;
padding: 10px;
color: red;
}

.confirmClose{
position: absolute; 
top: 10px; 
right: 10px; 
background-color: #777; 
color: #e2ddef; 
border-radius: 50%; 
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
padding-bottom: 4px;
font-size: 22px;
transition: 0.2s;
}



.addNotePromptMainDiv{
font-size: 18px;
padding: 30px;
position: fixed;
width: 450px;
left: 50%;
transform: translateX(-50%);
background-color: #e2ddef;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
z-index: 1000;
border: 3px solid #121212;
animation: come 0.8s forwards;
}

@media (max-width: 767px) {
.addNotePromptMainDiv{
  width: calc(100% - 28px);
}
}

.noteForm{
position: relative;
width: 75%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 10px;
}

.noteText{
width: 100%;
height: 100px;
font-size: 16px;
padding: 5px;
resize: none;
}

.noteSubmit {
align-self: flex-start;
background-color: #1ea500; 
color: #e2ddef;
margin-top: 12px;
padding: 8px 12px; 
border-radius: 6px; 
cursor: pointer; 
border: none; 
font-size: 16px;
transition: 0.2s;
}




.studentsCount{
z-index: 8;
position: absolute;
display: flex; 
justify-content: center; 
align-items: center;
width: 20px;
height: 20px;
background-color: #121212;
color: #F99417;
font-size: 16px;
border-radius: 50%; 
cursor: pointer;
}

@media (max-width: 767px) {
.studentsCount{
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  font-size: 6px;
  font-weight: bold;
}
}


.btns{
position: relative;
width: 47px;
height: 47px;
display: flex;
align-items: center;
justify-content: center;

}

.btnsAbso{
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 4px;
border-radius: 23px;
border: 2px #0b1d59 solid;
cursor: pointer;
transition: 0.5s;
overflow: hidden;
}

.btnsAbso .threePoint{
width: 43.5px;
height: 43.5px;
/* border-radius: 50%; */
display: flex;
justify-content: center;
align-items: center;
transition: 0.2s;
}

.threePoint:hover{
background-color: #c6c3d8;
outline: 1px solid #000;
}

.btnsAbso .threePoint > svg{

width: 32px;
height: 32px;
}

.btnsAbso > svg path{
fill: #0b1d59;
}






.bin-button {
position: relative;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 47px;
height: 47px;
border-radius: 23.5px;
background-color: #000;
cursor: pointer;
border: 2px #0b1d59 solid;
/* border: 3px solid rgb(255, 201, 201); */
transition: 0.3s;
display: none;
color: #e2ddef;
font-size: 18px;
}


.bin-button svg {
z-index: 3;
}

.bin-bottom {
width: 15px;
transition: 0.8s;
}
.bin-top {
width: 18px;
transform-origin: right;
transition: 0.8s;
}


@media (max-width: 767px) {
  .bin-button{
    background-color: red;
    border-color: #000;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}

@media (min-width: 767px) {
  .bin-button:hover{
    background-color: red;
    border-color: #000;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}





.editBtn {
width: 45px;
height: 45px;
border-radius: 22px;
border:  2px solid #000;
background-color: #000;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s;
display: none;
color: #e2ddef;
font-size: 12px;
}

.editBtn svg {
  height: 15px;
  fill: #e2ddef;
  z-index: 3;
}


.editBtn:hover {
background-color: #395bcb;
width: 90px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}




@media (max-width: 767px) {
  .editBtn{
    background-color: #395bcb;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}

@media (min-width: 767px) {
  .editBtn:hover{
    background-color: #395bcb;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}





.noteBtn{
width: 45px;
height: 45px;
border-radius: 22px;
border: 2px solid #000;
background-color: #000;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s;
display: none;
color: #e2ddef;
font-size: 11px;
}

.noteBtn svg {
  height: 15px;
  fill: #e2ddef;
  z-index: 3;
  }

@media (max-width: 767px) {
  .noteBtn{
    background-color:  #12bb1b;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}

@media (min-width: 767px) {
  .noteBtn:hover{
    background-color:  #12bb1b;
    width: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
}

